body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #373A3C;
}

nav {
    background-color: #E83E8C;
}
nav img {
    height: 50px;
}

footer {
    background-color: #E83E8C;
}

footer img {
    height: 70px;
}

h1, h2, .card-title {
    font-weight: 700;
}

h2 {
    font-size: 40px;
}

.icons-section {
    background-color: #17A2B8;

}


h1 {
    font-size: 60px;
    color: #707070;
}
.card-title {
    font-size: 17px;
}

.card-text {
    font-size: 16px;
}

.list-group-item, .card-link {
    font-size: 11px;
}

.card-link {
    color: #1C7CD5;
}